<a class="b-header__logo <% if(active=="logo"){ %> b-header__logo_active<% } %>" href="/#" <% if(bigLogo){ %> style="display:none;" <% } %> >Appsmash</a>
<div class="b-menu">
	<a class='b-menu__item'  href='#add'>Add your app</a>
	<a class='b-menu__item<% if(active=="top"){ %> b-menu__item_active<% } %>' href="#top">Top 100</a>
	<a class='b-menu__item<% if(active=="about"){ %> b-menu__item_active<% } %>' href="#about">About</a>
</div>
<% if(bigLogo){ %> 
	<a class="b-header__big-logo" href="/#"> Appsmash</a>
<% } %>