<div class="b-title">
	<h1>JOIN THE party</h1>
	<span>We are using the Apple Top 100 RSS to gather the icons shown in this contest.<br/>If you want to add your application use a form below. Learn why we are doing this.</span>
</div>

<form class="b-add__form">
	<label>
		<span class="b-add__label">Your name</span>
		<input name="name" class="b-add__input" autocomplete="off"/>
	</label>
	<label>
		<span class="b-add__label">Email</span>
		<input name="email" class="b-add__input" autocomplete="off"/>
	</label>
	<label>
		<span class="b-add__label">Paste a link to the your app’s iTunes page</span>
		<input name="url" class="b-add__input" autocomplete="off"/>
	</label>
	<input type="submit" class="b-add__submit" value="Submit">

	<div class="b-add__confirm">You are corfiming that you are an app owner</div>
</form>
<div class="b-add__success">Thank You</div>