<div class="b-pair-bg"></div>
<div class="b-icon b-icon_left" style="background-image:url(<%= icons[0].image %>)"></div>
<div class="b-link b-link_left">
	<img src="<%= icons[0].image %>" data-id="<%= icons[0].id %>" />
	<div class="b-link__info">
		<div class="b-link__stats"><%= parseInt(icons[0].statistic*100) %>%</div>
		<div class="b-link__name"><%= icons[0].name %></div>
	</div>
</div>
<div class="b-dots"><i></i><i></i></div>
<div class="b-icon b-icon_right" style="background-image:url(<%= icons[1].image %>)"></div>
<div class="b-link b-link_right">
	<img src="<%= icons[1].image %>" data-id="<%= icons[1].id %>"/>
	<div class="b-link__info">
		<div class="b-link__stats"><%= parseInt(icons[1].statistic*100) %>%</div>
		<div class="b-link__name"><%= icons[1].name %></div>
	</div>
</div>

<div class="b-pair-share">
	<span class="b-pair-share__text">Share this pair</span>
	<span class="b-pair-share__link b-pair-share__link_fb"></span>
	<span class="b-pair-share__link b-pair-share__link_tw"></span>
</div>
<div class="b-pair-stats-switcher">
	<div class="b-pair-stats-switcher__text b-pair-stats-switcher__text_show">
		<i></i>
		<span>Show this pair info</span>
	</div>
	<div class="b-pair-stats-switcher__text b-pair-stats-switcher__text_hide">
		<i></i>
		<span>Hide this pair info</span>
	</div>
</div>
