<div class="b-pair-bg"></div>
<div class="b-icon b-icon_left" style="background-image:url(<%= icons[0].image %>)"></div>
<div class="b-link b-link_left">
	<img src="<%= icons[0].image %>" data-id="<%= icons[0].id %>" />
	<div class="b-link__info b-link__info_active">
		<div class="b-link__stats"><%= parseInt(icons[0].statistic*100) %>%</div>
		<div class="b-link__name"><%= icons[0].name %></div>
	</div>
</div>
<div class="b-dots"><i></i><i></i></div>
<div class="b-icon b-icon_right" style="background-image:url(<%= icons[1].image %>)"></div>
<div class="b-link b-link_right">
	<img src="<%= icons[1].image %>" data-id="<%= icons[1].id %>"/>
	<div class="b-link__info b-link__info_active">
		<div class="b-link__stats"><%= parseInt(icons[1].statistic*100) %>%</div>
		<div class="b-link__name"><%= icons[1].name %></div>
	</div>
</div>
<div class="b-shared__footer">
	Lorem ipsum dolor sit amet, consectetur adipisicing.
</div>